@using Assassin.Models

@{
    ViewData["Title"] = "Player";
}

@if (@Model["player"].is_admin == 1 && @Model["game"].is_start == 0)
{
    <h1>You are admin</h1>
    <h1>Ready to being the game....?</h1>
    <h1>Is everyone signed up....?</h1>
    <h1>Does everyone understand the rules....?</h1>
    <form action="/game/@Model["game"].id/player/@Model["player"].id/start-game" method="post">
      <button type="submit">Start Game</button>
    </form>
@Player.GetAll(1).Count

}

@if (@Model["player"].is_admin == 0 && @Model["game"].is_start == 0)
{
  <h1>Welcome @Model["player"].code_name</h1>

  <h1>You are a part of @Model["game"].team_name</h1>

  <h1>Waiting for everyone to join the game and the admin to click start.</h1>
  /* <ul>
    @foreach (Player player in @Player.GetAll(1))
    {
      <li>@player.name</li>
    }
  </ul> */
  @Player.GetAll(1).Count

}

@if (@Model["game"].is_start == 1)
{
  <h1>Game is in progress. This is the main game play area</h1>
  @Player.GetAll(1).Count

}
