

@using Assassin.Models;

<!DOCTYPE html>
<html class="signUp">
  <head>
    <meta charset='utf-8'>
    <title>Assassin</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Cantata+One|Fontdiner+Swanky|Limelight|Taviraj&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>

<body id="playerSignUp" class="container">
<div class="text-center">
  <h3 class="title" id="signUpTitle">Sign Up</h3>
  @if (@Model == null)
  {
    <form action="/player/sign-up/authenticate" method="get" id="signUp">
      <label for="gameName">The name of the game you are joining:</label><br>
      <input name="gameName" type="text"></input><br>
      <label for="gamePassword">The group password:</label><br>
      <input name="gamePassword" type="password"></input><br>
      <button type="submit" class="btn btn-dark" id="signUpButton">Submit</button>
    </form>
  }
  else if (@Model.Count == 2)
  {
    <h2>@Model[0]. @Model[1]</h2>
    <form action="/player/sign-up/authenticate" method="get" id="signUp">
      <label for="gameName">The name of the game you are joining:</label>
      <input name="gameName" type="text"></input>
      <label for="gamePassword">The group password:</label>
      <input name="gamePassword" type="password"></input>
      <button type="submit" class="btn btn-dark" id="signUpButton">Submit</button>
    </form>
  }
  else if (@Model.Count == 1)
  {
    <form action="/player/sign-up-success" method="post" id="signUp">
      <label for="name">First name, last initial:</label>
      <input name="name" type="text" value="ex: Dima E."></input>
      <label for="email">email:</label>
      <input name="email" type="text"></input>
      <label for="password">Password:</label>
      <input name="password" type="password"></input>
      <label for="phoneNumber">Phone number:</label>
      <input name="phoneNumber" type="text"></input>
      <label for="agentName">Agent Name:</label>
      <input name="agentName" type="text"></input>
      <input name="gameId" type="hidden" value="@Model[0].id"></input>
      <button type="submit" class="btn btn-dark" id="signUpButton">Submit</button>
    </form>
  }
</div>
</body>
</html>
